<h3>Detalles</h3>
<br>
<strong>Descripcion:</strong> <%= @todo.description%>
<strong>Completado:</strong> <%= @todo.completed %>
<br>
<%= link_to 'Volver al Index', root_path, class: 'btn btn-outline-primary' %>
